//- Report interface
extends layout/base

block getTitle
	- var titleVar = "Report"

block append headScripts
	script.
		window.pageGroups = !{JSON.stringify(pageGroups)}
		window.siteId = !{siteId}
		window.siteDomain = "#{siteDomain}"
		window.isSuperUser = !{isSuperUser}
		window.isManual = !{isManual||false}

block append headCss
	style.
		.loaderwrapper.spinner {
			top: 0;
			left: 0;
		}

block bodyContent
	include layout/sideBar
	.pageContainer.page-container
		include layout/header
		.pageContentWrapper.page-content
			.pageContentInner.page-content--inner
				.loaderwrapper.spinner
					img(src="/assets/images/loaderLogo.png")
				div(class="alert alert-success alert-dismissible" style="font-size:15px" role="alert")
					button(type="button" class="close" data-dismiss="alert" aria-label="Close")
						span(aria-hidden="true") &times;
					strong  This report only shows data till 1st november. <a href="https://console.adpushup.com/login?utm_source=console&utm_campaign=beta-test" target="_blank">To access latest reports go to main panel by clicking <span style="color: #1e90ff; text-decoration: underline;">here</span></a>.

				#reportingPanel

	script(src="/assets/js/builds/reportingPanel.js?v=1535557986333")