extends layout/base

block getTitle
    - var titleVar = "AdNetwork Credentials"

block append headCss
    style.
        .success-message,
        .error-message {
            font-size: 16px; 
            font-weight: bold; 
            text-align: center;        
        }
        .success-message {
            padding: 10px;
        }
        .error-message {
            margin-bottom: 15px; 
        }
        .mg-t-13 {
            margin-top: 13px;
        }
        .mg-t-12 {
            margin-top: 12px;
        }
        .mg-t-7 {
            margin-top: 7px;
        }
        .input-fld-49,
        .input-fld-50 {
            display: inline;           
        }
        .input-fld-49 {
            width: 49% !important;
            margin-right: 1%;
        }
        .input-fld-50 {
            width: 50% !important;
        }

block bodyContent
    - var isProfileSaved = (profileSaved) ? true : false;
    - var missingKey = (credentialError && credentialError.errorField) ? credentialError.errorField: null;
    - var missingData = (credentialError && credentialError.incompleteCredentials) ? credentialError.incompleteCredentials[0]: null;

    include layout/sideBar
    .pageContainer.page-container

        include layout/header
        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner
                .notification-wrapper
                .controlAdpushupWrap.col-sm-12.mb-30
                    div(class="profileForm form-container js-form-container", data-ui-component="user-credentials", id="credentials-wrapper", style="width: 90%;")
                        form(class="form--credentials js-form-profile", action='/user/credentials', method='post')
                            if (isProfileSaved)
                                div(class="success-message top") Data Saved
                            div(class="error-message") #{missingData}
                            span(class="col-md-2 control-label") 
                                img.logo.logoL.mg-t-13(src="/assets/images/taboola-logo-large.png", alt='logo', width='130', height='24')
                            div(class="col-md-10")
                                div(class="form-group row")
                                    .input-group
                                        input.form-control.login-field.input-fld-49(type='text', id="taboola-username" name='taboolaUsername', value=formData.taboola.username, placeholder='Enter Taboola Username/Email')
                                        if isSuperUser
                                            input.form-control.login-field.input-fld-50(type='text', id="taboola-password", name='taboolaPassword', value=(formData.taboola.password?formData.taboola.password:''), placeholder='Enter Taboola Password')
                                        else
                                            input.form-control.login-field.input-fld-50(type='password', id="taboola-password", name='taboolaPassword', value=(formData.taboola.password?formData.commonRandomPassword:''), placeholder='Enter Taboola Password')
                                
                            span(class="col-md-2 control-label") 
                                img.logo.logoL.mg-t-12(src="/assets/images/rev-content-logo-large.jpg", alt='logo', width='130', height='24')
                            div(class="col-md-10")
                                div(class="form-group row")
                                    .input-group
                                        input.form-control.login-field.input-fld-49(type='text', id="revcontent-username" name='revcontentUsername', value=formData.revContent.username, placeholder='Enter Revcontent Username/Email')
                                        if isSuperUser0
                                            input.form-control.login-field.input-fld-50(type='text', id="revcontent-password", name='revcontentPassword', value=(formData.revContent.password?formData.revContent.password:''), placeholder='Enter Revcontent Password')
                                        else
                                            input.form-control.login-field.input-fld-50(type='password', id="revcontent-password", name='revcontentPassword', value=(formData.revContent.password?formData.commonRandomPassword:''), placeholder='Enter Revcontent Password')

                            span(class="col-md-2 control-label") 
                                img.logo.logoL.mg-t-13(src="/assets/images/outbrain-logo-large.jpg", alt='logo', width='130', height='24')
                            div(class="col-md-10")
                                div(class="form-group row")
                                    .input-group
                                        input.form-control.login-field.input-fld-49(type='text', id="outbrain-username" name='outbrainUsername', value=formData.outBrain.username, placeholder='Enter Outbrain Username/Email')
                                        if isSuperUser
                                            input.form-control.login-field.input-fld-50(type='text', id="outbrain-password", name='outbrainPassword', value=(formData.outBrain.password?formData.outBrain.password:''), placeholder='Enter Outbrain Password')
                                        else
                                            input.form-control.login-field.input-fld-50(type='password', id="outbrain-password", name='outbrainPassword', value=(formData.outBrain.password?formData.commonRandomPassword:''), placeholder='Enter Outbrain Password')

                            span(class="col-md-2 control-label") 
                                img.logo.logoL.mg-t-7(src="/assets/images/content-ad-logo-large.jpg", alt='logo', width='130', height='36')
                            div(class="col-md-10")
                                div(class="form-group row")
                                    .input-group
                                        input.form-control.login-field.input-fld-49(type='text', id="contentads-username" name='contentadsUsername', value=formData.contentAds.username, placeholder='Enter Content.ad Username/Email')
                                        if isSuperUser
                                            input.form-control.login-field.input-fld-50(type='text', id="contentads-password", name='contentadsPassword', value=(formData.contentAds.password?formData.contentAds.password:''), placeholder='Enter Content.ad Password')
                                        else
                                            input.form-control.login-field.input-fld-50(type='password', id="contentads-password", name='contentadsPassword', value=(formData.contentAds.password?formData.commonRandomPassword:''), placeholder='Enter Content.ad Password')

                            span(class="col-md-2 control-label") 
                                img.logo.logoL.mg-t-7(src="/assets/images/media-net-large.jpg", alt='logo', width='150', height='36')
                            div(class="col-md-10")
                                div(class="form-group row")
                                    .input-group
                                        input.form-control.login-field.input-fld-49(type='text', id="medianet-username" name='medianetUsername', value=formData.mediaNet.username, placeholder='Enter Media.net Username/Email')
                                        if isSuperUser
                                            input.form-control.login-field.input-fld-50(type='text', id="medianet-password", name='medianetPassword', value=(formData.mediaNet.password?formData.mediaNet.password:''), placeholder='Enter Media.net Password')
                                        else
                                            input.form-control.login-field.input-fld-50(type='password', id="medianet-password", name='medianetPassword', value=(formData.mediaNet.password?formData.commonRandomPassword:''), placeholder='Enter Media.net Password')

                            span(class="col-md-2 control-label")
                                img.logo.logoL.mg-t-7(src="/assets/images/yellowhammer-logo-large.jpg", alt='logo', width='150', height='36')
                            div(class="col-md-10")
                                div(class="form-group row")
                                    .input-group
                                        input.form-control.login-field.input-fld-49(type='text', id="yellowhammer-username" name='yellowhammerUsername', value=formData.yellowhammer.username, placeholder='Enter YellowHammer Username/Email')
                                        if isSuperUser
                                            input.form-control.login-field.input-fld-50(type='text', id="yellowhammer-password", name='yellowhammerPassword', value=(formData.yellowhammer.password?formData.yellowhammer.password:''), placeholder='Enter YellowHammer Password')
                                        else
                                            input.form-control.login-field.input-fld-50(type='password', id="yellowhammer-password", name='yellowhammerPassword', value=(formData.yellowhammer.password?formData.commonRandomPassword:''), placeholder='Enter YellowHammer Password')

                            span(class="col-md-2 control-label")
                                img.logo.logoL.mg-t-7(src="/assets/images/criteo-ad-logo.jpg", alt='logo', width='150', height='32')
                            div(class="col-md-10")
                                div(class="form-group row")
                                    .input-group
                                        input.form-control.login-field.input-fld-49(type='text', id="criteo-username" name='criteoUsername', value=formData.criteo.username, placeholder='Enter Cretio Username/Email')
                                        if isSuperUser
                                            input.form-control.login-field.input-fld-50(type='text', id="criteo-password", name='criteoPassword', value=(formData.criteo.password?formData.criteo.password:''), placeholder='Enter Criteo Password')
                                        else
                                            input.form-control.login-field.input-fld-50(type='password', id="criteo-password", name='criteoPassword', value=(formData.criteo.password?formData.commonRandomPassword:''), placeholder='Enter Criteo Password')

                            span(class="col-md-2 control-label")
                                img.logo.logoL.mg-t-7(src="/assets/images/infolinks-logo-large.jpg", alt='logo', width='150', height='32')
                            div(class="col-md-10")
                                div(class="form-group row")
                                    .input-group
                                        input.form-control.login-field.input-fld-49(type='text', id="infolinks-username" name='infolinksUsername', value=formData.infolinks.username, placeholder='Enter Infolinks Username/Email')
                                        if isSuperUser
                                            input.form-control.login-field.input-fld-50(type='text', id="infolinks-password", name='infolinksPassword', value=(formData.infolinks.password?formData.infolinks.password:''), placeholder='Enter Infolinks Password')
                                        else
                                            input.form-control.login-field.input-fld-50(type='password', id="infolinks-password", name='infolinksPassword', value=(formData.infolinks.password?formData.commonRandomPassword:''), placeholder='Enter Infolinks Password')
                                    .col-md-4.pd-0
                                        button#credentials-submit.btn.btn-lightBg.btn-block.btn-lg.btn-submit(type='submit', style="margin: 10px 0px;") Save
