//- Dashboard template

extends  layout/base

block getTitle
    - var titleVar = "DashBoard"

//- Load AdPushup setup script if there is no valid site
block append headScripts

    if validSites.length === 0

        - unSavedSiteId = (unSavedSite) ? unSavedSite[0].siteId : null;
        - step = 1;
        - origUnSavedDomain = (unSavedSite) ? unSavedSite[0].domain : null;
        - domanizedUrl = (origUnSavedDomain) ? utils.domanize(origUnSavedDomain) : null;

        //- Setup Adpushup site addition config
        script.
            $('document').ready(function() {
                adpushup.newSite = {
                    viewObjects: {
                        domanizedUrl: '!{domanizedUrl}',
                        unSavedSiteId: '!{unSavedSiteId}',
                        origUnSavedDomain: '!{origUnSavedDomain}'
                    },
                    totalSteps: 5,
                    defaultStep: '!{step}',
                    addOtherSite: false
                };
            });

        +loadAsset("js", [
            '/assets/js/build/adpushup-setup.min.js'
        ]) 
    else 

        if validSites[0].step <= 5
        
            //- Setup Adpushup site addition config
            script.
                $('document').ready(function() {
                     adpushup.newSite = {
                        viewObjects: {
                            domanizedUrl: '!{domanizedUrl}',
                            unSavedSiteId: '!{unSavedSiteId}',
                            origUnSavedDomain: '!{origUnSavedDomain}'
                        },
                        addedSite: {
                            domain: '!{validSites[0].domain}',
                            siteId: '!{validSites[0].siteId}'
                        },
                        totalSteps: 5,
                        defaultStep: '!{validSites[0].step}',
                        addOtherSite: false
                    };
                });

            +loadAsset("js", [
                '/assets/js/build/adpushup-setup.min.js'
            ]) 

        if validSites[0].step == 5 && isSuperUser
            +loadAsset("js", [
                '/assets/js/libs/third-party/d3.js',
                '/assets/js/libs/third-party/c3.js',
                '/assets/js/libs/third-party/dataTables.js',
                '/assets/js/libs/third-party/dataTablesColReorder.js',
                '/assets/js/reports/dataVisualization.js',
                '/assets/js/reports/reports.js'
            ])

            +loadAsset("css", [
                '/assets/css/c3.css',
                '/assets/css/dataTables.css'
            ])    

block bodyContent
    if isSuperUser
        include layout/sideBar
    .pageContainer.page-container
        include layout/header
        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner
                    .notification-wrapper
                    // Control v/s Adpushp Starts here
                    #widgetsArea.row
                        if validSites.length > 0
                            if !hasStep || (isSuperUser && (validSites && validSites[0].step > 4))
                                for site in validSites
                                    <!--.2.and.mb-30(class="{{ loop.length % loop.last ? 'col-xs-12' : 'col-xs-6' }}")-->
                                    .mb-30
                                        .controlAdpushupWrap
                                            if site.pageGroups.length
                                                h3.title.m-All-0.clearfix
                                                    a.pull-left(id="site-report-" + site.siteId, target='_blank', title='Showing last 7 days ControlVsAdPushup reports.', href='/user/site/#{site.siteId}/reports/ControlVsAdpushupCtr').
                                                        #{utils.domanize(site.domain)} - #{site.siteId}
                                                    .pull-right.site-actions
                                                        a.btn.btn-lightBg.btn-default(id="site-custom-reports-" + site.siteId, href='/user/site/#{site.siteId}/reports/ControlVsAdpushupCtr')
                                                            i.fa.fa-area-chart
                                                            |  Custom Reports
                                                        a.btn.btn-lightBg.btn-default(id="site-adsense-reports-" + site.siteId, href='/user/site/#{site.siteId}/reports/adsense') 
                                                            i.fa.fa-usd
                                                            |  Adsense Reports
                                                        a.btn.btn-lightBg.btn-default(id="editor-redirect-link", target='_blank', href='/user/site/#{site.siteId}/editor') 
                                                            i.fa.fa-code
                                                            |  Take to Editor
                                                        a.btn.btn-lightBg.btn-default(id="pagegroups-link", href='/user/site/#{site.siteId}/pagegroups') 
                                                            i.fa.fa-th-list
                                                            |  PageGroups
                                                        a.btn.btn-lightBg.btn-default(id="settings-link", href='/user/site/#{site.siteId}/settings') 
                                                            i.fa.fa-cog
                                                            |  Settings
                                                        if isSuperUser
                                                            form(action='/user/deleteSite', method='post', style='display: inline', onsubmit="return (confirm('Are you sure you want to delete this site? This step cannot be reversed !') && trackDelete(#{site.siteId}))")
                                                                input(type='hidden', name='siteId', value='#{site.siteId}')
                                                                input(type='hidden', name='siteDomain', value='#{site.domain}')
                                                                button.btn.btn-lightBg.btn-default(id="site-delete-btn", type='submit') Delete Site

                                                - siteDomain = (site.domain) ? site.domain : "";
                                                .graph.dashboardgraph
                                                    div(id='controlVsAdpushupChart_#{site.siteId}', style='overflow: hidden;')
                                                        .loaderwrapper.spinner
                                                            img(src="/assets/images/loaderLogo.png")
                                                        script(type='text/javascript').
                                                            adpushup.reports.controlVsAdpushupCtr({
                                                                "siteId": #{site.siteId},
                                                                "siteDomain": "#{siteDomain}",
                                                                "platform": null,
                                                                "pageGroup": null,
                                                                "step": "1d",
                                                                "chartType": "areaChart",
                                                                "showX": false,
                                                                "showY": false,
                                                                "chartContainer": "#controlVsAdpushupChart_"+#{site.siteId},
                                                                "notify": false,
                                                                "alert": true,
                                                                "reportType": "controlVsAdpushupCtr"
                                                            });
                                                    if isSuperUser
                                                        div(id='pageViewsChart_#{site.siteId}')
                                                            script(type='text/javascript').
                                                                adpushup.reports.controlVsAdpushupPageviews({
                                                                    "siteId": #{site.siteId},
                                                                    "siteDomain": "#{siteDomain}",
                                                                    "platform": null,
                                                                    "pageGroup": null,
                                                                    "chartType": "pieChart",
                                                                    "showLabel": false,
                                                                    "showLegend": false,
                                                                    "chartContainer": "#" + "pageViewsChart_"+#{site.siteId},
                                                                    "notify": false,
                                                                    "alert": true,
                                                                    "reportType": "controlVsAdpushupPageviews"
                                                                });
                                            else
                                                h3.title.m-All-0.clearfix
                                                    a.pull-left(id="site-report-" + site.siteId).
                                                        #{utils.domanize(site.domain)} - #{site.siteId}
                                                    .pull-right
                                                        a.btn.btn-lightBg.btn-default(id="site-create-pagegroup-" + site.siteId, href='/user/site/#{site.siteId}/createPagegroup') Create PageGroup
                                                section
                                                    .site-status
                                                        h4
                                                            i.fa.fa-exclamation-circle 
                                                            | Setup Incomplete
                                                        .status-text Page Group not found! Please 
                                                            a(href="/user/site/#{site.siteId}/createPagegroup") create
                                                            |  one to access the visual editor.
                            else
                                if validSites[0].step <= 5
                                    include layout/adPushupSetup

                        else
                            include layout/adPushupSetup
    
    script(type="text/javascript").
        analytics.page('App-dashboard', intercomObj);

        function trackDelete( siteId ) {
            analytics.track('SITE_Delete', {
               siteId: siteId,
               IS_ADMIN: #{isSuperUser}
           });
           return true;
        }