extends  layout/base

- a = countries

block getTitle
    - var titleVar = "Header Bidding" 

block append headScripts
    script.
        $(document).ready(function() {
            window.countries = !{countries};
            window.continents = !{continents};
            window.adSizes = !{adSizes};
            window.hbPartners = !{hbPartners}
        });
    script(src="/assets/js/libs/custom/header-bidding-setup.js")

block bodyContent
    include layout/sideBar
    .pageContainer.page-container
        include layout/header
        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner
                .notification-wrapper

                #widgetsArea.row
                    .mb-30
                        .controlAdpushupWrap
                            h3.title.m-All-0.clearfix 
                                a Header Bidding - #{utils.domanize(siteDomain)}

                            form#hbform.settings-pane
                                .row
                                    .col-sm-12
                                        h4 Configure Header Bidding by setting all options below

                                #hbform-render

                                hr
                                button.btn.btn-lightBg.btn-default(type="button")#addgeo Add another Geo config
                            
                                
                                //- .row
                                //-     .col-sm-3
                                //-         .input-name Select Header Bidding Partner
                                //-     .col-sm-3
                                //-         .styleSelect.select-box-lg
                                //-             select.text-capitalize(name="hbPartner" required)#hb-partner
                                //-                 option(value="") Select partner
                                //-                 for partner in hbPartners
                                //-                     option(value="#{partner}")!= partner
                                                
                                //- .row
                                //-     .col-sm-2.mT-10
                                //-         button.btn.btn-lightBg.btn-default save