extends  layout/base

- a = countries

block getTitle
    - var titleVar = "Header Bidding" 

block append headCss
    style.
        .settings-pane .btn,
        .btn.btn-lightBg {
            width: 220px;
        }

block append headScripts
    script.
        $(document).ready(function() {
            window.countries = !{countries};
            window.continents = !{continents};
            window.adSizes = !{adSizes};
            window.hbPartners = !{hbPartners};
            window.hbConfig = !{hbConfig};
            window.defaultNetworkId = !{defaultNetworkId}
        });

    if hbSetupData
        script.
            $(document).ready(function() {
                window.hbSetupData = !{hbSetupData}
            });

    if environment == "production"
        script(src="/assets/js/builds/header-bidding-setup.min.js")
    else 
        script(src="/assets/js/libs/custom/header-bidding-setup.js")

block bodyContent
    include layout/sideBar
    .pageContainer.page-container
        include layout/header
        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner
                .notification-wrapper

                //- Alert wrapper
                div.detectap-alert.text-center#hbalert

                #widgetsArea.row
                    .mb-30
                        .controlAdpushupWrap
                            h3.title.m-All-0.clearfix 
                                a Header Bidding - #{utils.domanize(siteDomain)}

                            form#hbform.settings-pane
                                input(type="hidden", id="setupOp" value="#{operation}")
                                .row
                                    .col-sm-12
                                        h4 Configure Header Bidding by setting all options below

                                #accordion.accordion.panel-group(role='tablist', aria-multiselectable='true')
                                    .accordion-pane.panel.panel-default
                                        #hbConfigHeading.panel-heading(role='tab')
                                            h4.panel-title
                                                a(role='button', data-toggle='collapse', data-parent='accordion', href='hbConfigPanel', aria-expanded='false', aria-controls='#hbConfigPanel')
                                                    | Header Bidding Config
                                        #hbConfigPanel.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='hbConfigHeading')
                                            .panel-body
                                                #hbform-render

                                hr
                                button.btn.btn-lightBg.btn-default.mb-30(type="button")#addgeo Add another Geo config

                                #accordion.accordion.panel-group(role='tablist', aria-multiselectable='true')
                                    .accordion-pane.panel.panel-default
                                        #hbSettingsHeader.panel-heading(role='tab')
                                            h4.panel-title
                                                a.collapsed(role='button', data-toggle='collapse', data-parent='accordion', href='hbSettingsPanel', aria-expanded='false', aria-controls='hbSettingsPanel')
                                                    | Header Bidding Global Settings
                                        #hbSettingsPanel.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='hbSettingsHeader')
                                            .hb-settings-pane.panel-body
                                                - hbSettings = hbSetupData ? JSON.parse(hbSetupData).settings : null;
                                                .row
                                                    .col-sm-3
                                                        .input-name Prebid Timeout
                                                    .col-sm-4
                                                        input.form-control(required value=(hbSettings ? hbSettings.prebidTimeout : hbGlobalSettingDefaults.prebidTimeout) name="prebidTimeout" type="number" placeholder="Enter Prebid Timeout")
                                                .row
                                                    .col-sm-3
                                                        .input-name E3 Feedback URL
                                                    .col-sm-4
                                                        input.form-control(required value=(hbSettings ? hbSettings.e3FeedbackUrl : hbGlobalSettingDefaults.e3FeedbackUrl) name="e3FeedbackUrl" type="text" placeholder="Enter E3 Feedback URL")
                                                .row
                                                    .col-sm-3
                                                        .input-name Target All DFP Units
                                                    .col-sm-4
                                                        - checkYes = (hbSettings ? (hbSettings.targetAllDFP ? true : undefined) : (hbGlobalSettingDefaults.targetAllDFP ? true : undefined)) 
                                                        - checkNo = (hbSettings ? !(hbSettings.targetAllDFP ? true : undefined) : (!hbGlobalSettingDefaults.targetAllDFP ? true : undefined))
                                                        input.input-radio(checked=(checkYes) required name="targetAllDFP" value="yes" type="radio") 
                                                        span Yes
                                                        input.input-radio(checked=(checkNo) required name="targetAllDFP" value="no" type="radio") 
                                                        span No
                                            .container.mb-30(style="width: 100%;")
                                                .row
                                                    .col-sm-3
                                                        .input-name Postbid passbacks
                                                - passbacks = hbSetupData ? JSON.parse(hbSetupData).settings.postbidPassbacks : null;
                                                .pbpassback-wrapper
                                                    if !passbacks || !Object.keys(passbacks).length
                                                        .row.pbpassback-input
                                                            .col-sm-3
                                                                input.form-control(type="text" name="pbAdUnit" placeholder="Ad Unit")
                                                            .col-sm-4
                                                                input.form-control(type="text" name="pbCode" placeholder="Code")
                                                    else 
                                                        each code, adUnit in passbacks
                                                            .row.pbpassback-input
                                                                .col-sm-3
                                                                    input.form-control(type="text" value="#{adUnit}" name="pbAdUnit" placeholder="Ad Unit")
                                                                .col-sm-4
                                                                    input.form-control(type="text" value="#{code}" name="pbCode" placeholder="Code")
                                                                - keyIndex = Object.keys(passbacks).indexOf(adUnit);
                                                                if keyIndex
                                                                    button(type="button").close.hb-close-pane.hb-close-pane-static x
                                                        
                                                button.mT-10.btn.btn-lightBg.btn-default#addpostbid-passback(type="button") Add another postbid passback
                                                
                                hr 
                                button.btn.btn-primary Save Header bidding Setup
                                