extends  layout/base

block getTitle
    - var titleVar = "Header Bidding" 

block append headScripts
    script(src="/assets/js/libs/custom/header-bidding-setup.js")

block bodyContent
    include layout/sideBar
    .pageContainer.page-container
        include layout/header
        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner
                .notification-wrapper

                #widgetsArea.row
                    .mb-30
                        .controlAdpushupWrap
                            h3.title.m-All-0.clearfix 
                                a Header Bidding - #{utils.domanize(siteDomain)}
                            .settings-pane
                                .row
                                    .col-sm-12
                                        h4 Configure Header Bidding by setting all options below
                                .row
                                    .col-sm-3
                                        .input-name Select type of Geography
                                    .col-sm-9
                                        .styleSelect.select-box-lg
                                            select(name="geoType" required)#geo-selector
                                                option(value="country") Country
                                                option(value="continent") Continent
                                                option(value="all") All

                                .row#select-geo-country
                                    .col-sm-3
                                        .input-name Select Country
                                    .col-sm-9
                                        .styleSelect.select-box-lg
                                            select(name="country" required)#geo-country
                                                for country in countries
                                                    option(value="#{country.code}")!= country.name

                                .row#select-geo-continent
                                    .col-sm-3
                                        .input-name Select Continent
                                    .col-sm-9
                                        .styleSelect.select-box-lg
                                            select(name="continent" required)#geo-continent
                                                for continent in continents
                                                    option(value="#{continent.value}")!= continent.name
                                
                                .row
                                    .col-sm-3
                                        .input-name Select Ad Size
                                    .col-sm-9
                                        .styleSelect.select-box-lg
                                            select(name="adSize" required)#ad-size
                                                for size in adSizes
                                                    option(value="#{size}")!= size
                                
                                .row
                                    .col-sm-3
                                        .input-name Select Header Bidding Partner
                                    .col-sm-9
                                        .styleSelect.select-box-lg
                                            select.text-capitalize(name="hbPartner" required)#hb-partner
                                                option Select partner
                                                for partner in hbPartners
                                                    option(value="#{partner}")!= partner
                                        
                                               
                                        
                            

                           