extends  layout/base

block getTitle
    - var titleVar = "PageGroup"

block bodyContent
    include layout/sideBar
    .pageContainer.page-container
        include layout/header
        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner
                .notification-wrapper
                #widgetsArea.row
                    .mb-30
                        .controlAdpushupWrap
                            h3.title.m-All-0.clearfix
                                a!= pageGroupName
                            div
                                ul.nav.nav-tabs(role='tablist')
                                    li.active(role='presentation')
                                        a(href='#summary', aria-controls='home', role='tab', data-toggle='tab') Summary  
                                    li(role='presentation')
                                        a(href='#variations', aria-controls='profile', role='tab', data-toggle='tab') Variations
                                .tab-content
                                    #summary.tab-pane.fade.in.active(role='tabpanel')  
                                        .data-row
                                            h5.data-font-m.text-dark Basic Information
                                            .row
                                                .col-sm-3
                                                    label.data-font-m Page Group URL
                                                .col-sm-9
                                                    a(href="#{sampleUrl}", target="_blank", class="data-font-m sampleUrl")!= sampleUrl
                                            .row
                                                .col-sm-3
                                                    label.data-font-m Platform
                                                .col-sm-9
                                                    .platform.data-font-m.text-dark
                                                        if platform === 'DESKTOP' 
                                                            i.fa.fa-desktop 
                                                            span!= platform
                                                        if platform === 'TABLET' 
                                                            i.fa.fa-tablet 
                                                            span!= platform
                                                        if platform === 'MOBILE' 
                                                            i.fa.fa-mobile 
                                                            span!= platform
                                            .row
                                                .col-sm-3
                                                    label.data-font-m Inventory Type
                                                .col-sm-9
                                                    .data-font-m.text-dark Standard Banner Ads
                                                    
                                    #variations.tab-pane.fade(role='tabpanel')
                                        
