extends  layout/base

block getTitle
    - var titleVar = "Performance Report"

block append headCss
    if reportingData
        +loadAsset("css", [
            '/assets/css/third-party/dataTables.css',
            '/assets/css/third-party/datepicker.css'
        ])

block append headScripts
    if reportingData
        +loadAsset("js", [
            '/assets/js/libs/third-party/datepicker.js',
            '/assets/js/libs/third-party/dataTables.js',
            '/assets/js/libs/third-party/dataTablesColReorder.js',
            'https://code.highcharts.com/stock/highstock.js',
            'https://code.highcharts.com/stock/modules/exporting.js',
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
        ])

block bodyContent
    include layout/sideBar
    .pageContainer.page-container.page-container--reports-geniee
        include layout/header

        - reportingData = reportingData || null;
        - paramConfig = paramConfig || null;
        - siteId = siteId || null;
        - filterDates = filterDates || null;

        if reportingData
            nav(class="js-slideout-menu", style="visibility: hidden")
                div(class="u-border-bottom aligner aligner--row u-margin-10px u-padding-b10px")
                    h4.heading.heading--h2 Selected
                div(class="u-margin-10px u-padding-10px filter-selected-wrapper js-filter-selected-wrapper")

                div(class="u-border-bottom aligner aligner--row u-margin-10px u-padding-b10px")
                    h4.heading.heading--h2 Date
                div(class="aligner aligner--row u-margin-10px u-padding-10px")
                    div(class="u-full-width panel-group u-margin-0px js-filter-date-wrapper", id="accordion", role="tablist", aria-multiselectable="true")
                        div(class="panel panel-default")
                            div(class="u-padding-10px panel-heading", role="tab", id="headingOne")
                                h4(class="panel-title")
                                    a(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne") Quick
                        div(id="collapseOne", class="panel-collapse collapse in", role="tabpanel", aria-labelledby="headingOne")
                            div(class="panel-body")
                                div(class="aligner aligner--row mB-5")
                                    div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                                        a(data-dateRange="#{JSON.stringify(filterDates.today)}", data-name="today", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-today") Today
                                    div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
                                        a(data-dateRange="#{JSON.stringify(filterDates.thisWeek)}", data-name="thisWeek", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-thisWeek") This Week
                                div(class="aligner aligner--row mB-5")
                                    div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                                        a(data-dateRange="#{JSON.stringify(filterDates.thisMonth)}", data-name="thisMonth", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-thisMonth") This month
                                    div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
                                        a(data-dateRange="#{JSON.stringify(filterDates.thisYear)}", data-name="thisYear", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-thisYear") This year

                                //- NOTE: Disabled as Geniee Reports does not support hourly reports fetch
                                //- div(class="aligner aligner--row mB-5")
                                //-     div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                                //-         a(data-dateRange="#{JSON.stringify(filterDates.today)}", data-name="today", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last-1-hour") Last 1 hour
                                //-     div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
                                //-         a(data-dateRange="#{JSON.stringify(filterDates.today)}", data-name="today", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last-4-hours") Last 4 hours
                                //- div(class="aligner aligner--row mB-5")
                                //-     div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                                //-         a(data-dateRange="#{JSON.stringify(filterDates.today)}", data-name="today", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last-12-hours") Last 12 hours
                                //-     div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
                                //-         a(data-dateRange="#{JSON.stringify(filterDates.today)}", data-name="today", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last-24-hours") Last 24 hours

                                div(class="aligner aligner--row mB-5")
                                    div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                                        a(data-dateRange="#{JSON.stringify(filterDates.last7Days)}", data-name="last7Days", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last7Days") Last 7 days
                                    div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
                                        a(data-dateRange="#{JSON.stringify(filterDates.last30Days)}", data-name="last30Days", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last30Days") Last 30 days
                                div(class="aligner aligner--row mB-5")
                                    div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                                        a(data-dateRange="#{JSON.stringify(filterDates.last60Days)}", data-name="last60Days", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last60Days") Last 60 days
                                    div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
                                        a(data-dateRange="#{JSON.stringify(filterDates.last90Days)}", data-name="last90Days", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last90Days") Last 90 days

                                div(class="aligner aligner--row mB-5")
                                    div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                                        a(data-dateRange="#{JSON.stringify(filterDates.last6Months)}", data-name="last6Months", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last6Months") Last 6 months
                                    div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
                                        a(data-dateRange="#{JSON.stringify(filterDates.last1Year)}", data-name="last1Year", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last1Year") Last 1 year
                                div(class="aligner aligner--row mB-5")
                                    div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                                        a(data-dateRange="#{JSON.stringify(filterDates.last2Years)}", data-name="last2Years", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last2Years") Last 2 years
                                    div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
                                        a(data-dateRange="#{JSON.stringify(filterDates.last5Years)}", data-name="last5Years", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last5Years") Last 5 years

                        //- div(class="panel panel-default")
                        //-     div(class="u-padding-10px panel-heading", role="tab", id="headingTwo")
                        //-         h4(class="panel-title")
                        //-             a(class="collapsed", role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseTwo", aria-expanded="false", aria-controls="collapseTwo") Relative
                        //- div(id="collapseTwo", class="panel-collapse collapse", role="tabpanel", aria-labelledby="headingTwo")
                        //-     div(class="panel-body")
                        //-         div(class="aligner aligner--row u-margin-10px u-padding-10px")

                        //- div(class="panel panel-default")
                        //-     div(class="u-padding-10px panel-heading", role="tab", id="headingThree")
                        //-         h4(class="panel-title")
                        //-             a(class="collapsed", role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseThree", aria-expanded="false", aria-controls="collapseThree") Absolute
                        //- div(id="collapseThree", class="panel-collapse collapse", role="tabpanel", aria-labelledby="headingThree")
                        //-     div(class="panel-body")
                        //-         div(class="aligner aligner--row u-margin-10px u-padding-10px")

                div(class="aligner aligner--row u-margin-b10px u-padding-10px")
                    button(id="filter-apply-btn", class="btn btn-default btn-theme btn-theme--primary aligner-item js-filter-apply-btn", type="button") Apply
                    button(id="filter-reset-btn", class="btn btn-default aligner-item js-filter-reset-btn", type="button") Reset

 
        // Page Content Starts Here
        .pageContentWrapper.page-content.js-slideout-panel
            .pageContentInner.page-content--inner
                .notification-wrapper
                #widgetsArea.row

                    .mb-30
                        .controlAdpushupWrap
                            if reportingData
                                div(class="aligner aligner--row u-margin-20px u-padding-b10px main-heading-wrapper js-main-heading-wrapper")
                                    div(class="col-xs-9 col-md-9 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                                        h3.heading.heading--h3
                                            a Reporting and Analytics
                                    div(class="col-xs-3 col-md-3 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom js-main-heading-options")
                                        button(id="filter-btn", class="btn btn-default btn--with-icon aligner aligner--row aligner--hCenter aligner--vCenter js-filter-btn", type="button") Filters
                                            i(class="fa fa-filter")

                                div(class="aligner aligner--row breadcrumb-wrapper u-margin-20px")
                                    div(class="col-xs-8 col-md-8 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                                        ol(class="breadcrumb js-reports-breadcrumb u-margin-0px")
                                    div(class="col-xs-4 col-md-4 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")

                                div(class="aligner aligner--row perf-panel-heading-wrapper")
                                    div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                                        h4 Performance
                                    div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
                                        //- NOTE: To be added later
                                        //- h5 Export as

                                div(class="thumbnail-panel-group perf-panel-wrapper aligner aligner--row js-perf-header")
                                    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-revenue")
                                        div(class="panel u-margin-0px u-padding-0px")
                                            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                                                div(class="panel-title") REVENUE
                                            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")
                                    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-pageViews")
                                        div(class="panel u-margin-0px u-padding-0px")
                                            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                                                div(class="panel-title") PAGE VIEWS
                                            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")
                                    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-clicks")
                                        div(class="panel u-margin-0px u-padding-0px")
                                            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                                                div(class="panel-title") CLICKS
                                            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")
                                    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-pageRPM")
                                        div(class="panel u-margin-0px u-padding-0px")
                                            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                                                div(class="panel-title") PAGE RPM
                                            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")
                                    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-pageCTR")
                                        div(class="panel u-margin-0px u-padding-0px")
                                            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                                                div(class="panel-title") PAGE CTR
                                            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")

                                //- Chart wrapper
                                div(id="chart-container", class="u-margin-20px js-chart-container", style="background-color: #eee; text-align: center; font-size: 1.5em; height: 340px; border: 1px solid #ddd;")

                                div(class="aligner aligner--row table-heading-wrapper js-table-heading-wrapper")
                                    div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                                        h4(class="table-heading js-table-heading") Page Groups
                                    div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")

                                // Report Table Begins
                                .ReportsWrapper.table-reports-wrapper
                                    //- NOTE: Removed as per requirement
                                    //- .ReportsToggleBtnWrap
                                    //-     a.btn.ReportsToggleBtn.p-All-0(data-toggle='collapse', href='#collapseExample', data-placement='top', aria-expanded='true', aria-controls='collapseExample')
                                    #collapseExample.collapse.in(aria-expanded='true', style='')
                                        .well.pd-0
                                            #reports_table.panel.panel-default
                                // Report Table Ends
                            else
                                div(class="aligner aligner--row aligner--hCenter aligner--vCenter jumbotron u-margin-0px", style="height: 200px; background: #fcfcfc;")
                                    i(class="fa fa-ban", style="font-size: 2.5em;")
                                    h3(class="heading heading--h3", style="font-size: 1.5em; line-height: 1.5em; padding: 0 15px;") !{errorText}

    if reportingData
        script(type='text/javascript').
            var reportsModel = !{JSON.stringify(reportingData)},
                siteId = '!{siteId}', siteDomain = '!{siteDomain}',
                paramConfig = !!reportsModel ? !{JSON.stringify(paramConfig)} : null;

            window.adpushup.reports = {
                model: reportsModel,
                siteId: siteId,
                siteDomain: siteDomain,
                paramConfig: paramConfig
            };

        +loadAsset("js", [
            'https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js',
            '/assets/js/reports/geniee/reports.js'
        ])

