extends  layout/base

block getTitle
    - var titleVar = "Performance Report"

block append headCss
    +loadAsset("css", [
        '/assets/css/third-party/dataTables.css',
        'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css'
    ])

block append headScripts
    +loadAsset("js", [
        '/assets/js/libs/third-party/dataTables.js',
        '/assets/js/libs/third-party/dataTablesColReorder.js',
        '/assets/js/libs/third-party/highcharts/highcharts.js',
        '/assets/js/libs/third-party/highcharts/exporting.js',
        'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
        'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js'
    ])

block bodyContent
    include layout/sideBar
    .pageContainer.page-container.page-container--reports-geniee
        include layout/header

        - reportingData = reportingData || null;
        - paramConfig = paramConfig || null;
        - siteId = siteId || null;
        - filterDates = filterDates || null;
        - errorText = errorText || null;
        - localeData = localeData || null;
        - localeCode = localeCode || 'en';

        include performance/slideoutMenu
        // Page Content Starts Here
        .pageContentWrapper.page-content.js-slideout-panel
            .pageContentInner.page-content--inner
                #widgetsArea.row
                    .mb-30
                        div(class="aligner aligner--row aligner--vCenter aligner--hStart u-margin-b15px")
                            div(class="alert alert-warning notification-alert u-margin-0px u-full-width") !{localeData.NOTIFICATION_ALERT.DATA_DISCREPANCY.PAGEVIEWS}

                        .controlAdpushupWrap.js-reports-wrapper
                            include performance/headingWithFilterButton
                            include performance/breadcrumbWithReportDate
                            include performance/metricsThumbnailsWithChart
                            include performance/interactiveDataTable
                            include performance/loaderWithAlert

                            //div(class="aligner aligner--row aligner--hCenter aligner--vCenter jumbotron u-margin-0px", style="height: 200px; background: #fcfcfc;")
                                i(class="fa fa-ban", style="font-size: 2.5em;")
                                h3(class="heading heading--h3", style="font-size: 1.5em; line-height: 1.5em; padding: 0 15px;") !{errorText}

    script(type='text/javascript').
        var reportsModel = !{JSON.stringify(reportingData)} || null,
            siteId = '!{siteId}', siteDomain = '!{siteDomain}',
            paramConfig = !{JSON.stringify(paramConfig)},
            errorText = '!{errorText}',
            languageCode = '!{localeCode}';

        window.adpushup = window.adpushup || {};
        window.adpushup.reports = {
            model: reportsModel,
            siteId: siteId,
            siteDomain: siteDomain,
            paramConfig: paramConfig,
            languageCode: languageCode
        };

        // Error text is added in case of valid error message
        if (errorText) {
            window.adpushup.reports.errorText = errorText;
        }

    +loadAsset("js", [
        'https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js',
        '/assets/js/reports/geniee/reports.js'
    ])
