extends  layout/base

block getTitle
    - var titleVar = "Performance Report"

block append headCss
    if reportingData
        +loadAsset("css", [
            '/assets/css/third-party/dataTables.css',
            '/assets/css/third-party/datepicker.css'
        ])

block append headScripts
    if reportingData
        +loadAsset("js", [
            '/assets/js/libs/third-party/datepicker.js',
            '/assets/js/libs/third-party/dataTables.js',
            '/assets/js/libs/third-party/dataTablesColReorder.js',
            '/assets/js/libs/third-party/highcharts/highcharts.js',
            '/assets/js/libs/third-party/highcharts/exporting.js',
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
        ])

block bodyContent
    include layout/sideBar
    .pageContainer.page-container.page-container--reports-geniee
        include layout/header

        - reportingData = reportingData || null;
        - paramConfig = paramConfig || null;
        - siteId = siteId || null;
        - filterDates = filterDates || null;

        if reportingData
            include performance/slideoutMenu
        // Page Content Starts Here
        .pageContentWrapper.page-content.js-slideout-panel
            .pageContentInner.page-content--inner
                #widgetsArea.row

                    .mb-30
                        .controlAdpushupWrap.js-reports-wrapper
                            if reportingData
                                include performance/headingWithFilterButton
                                include performance/breadcrumbWithReportDate
                                include performance/metricsThumbnailsWithChart
                                include performance/interactiveDataTable
                                include performance/loaderWithAlert

                            else
                                div(class="aligner aligner--row aligner--hCenter aligner--vCenter jumbotron u-margin-0px", style="height: 200px; background: #fcfcfc;")
                                    i(class="fa fa-ban", style="font-size: 2.5em;")
                                    h3(class="heading heading--h3", style="font-size: 1.5em; line-height: 1.5em; padding: 0 15px;") !{errorText}

    if reportingData
        script(type='text/javascript').
            var reportsModel = !{JSON.stringify(reportingData)},
                siteId = '!{siteId}', siteDomain = '!{siteDomain}',
                paramConfig = !!reportsModel ? !{JSON.stringify(paramConfig)} : null;

            window.adpushup.reports = {
                model: reportsModel,
                siteId: siteId,
                siteDomain: siteDomain,
                paramConfig: paramConfig
            };

        +loadAsset("js", [
            'https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js',
            '/assets/js/reports/geniee/reports.js'
        ])

