extends  layout/base

block getTitle
    - var titleVar = "PageGroup"

block bodyContent
    include layout/sideBar
    .pageContainer.page-container
        include layout/header
        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner
                .notification-wrapper
                #widgetsArea.row
                   
                    .mb-30
                        .controlAdpushupWrap
                            h3.title.m-All-0.clearfix 
                                a Reporting and Analytics

                            //- Chart wrapper
                            div(style="margin: 20px; background-color: #eee; text-align: center; font-size: 1.5em; padding-top: 170px; height: 340px; border: 1px solid #ddd;")
                                | Reporting chart will come here

                            //- Reporting table
                            .table-wrapper-paddded
                                table.table.table-bordered.table-hover
                                    thead
                                        tr
                                            th Variation
                                            th Page Group
                                            th Platform
                                            th Impressions
                                            th Page RPM
                                            th Page Views
                                            th Revenue
                                    tbody
                                        for data in reportingData
                                            tr
                                                td!= data.variationName
                                                td!= data.pageGroupName
                                                td!= data.platform
                                                td!= data.impressions
                                                td!= data.rpm
                                                td!= data.pageviews
                                                td!= data.revenue
                                                