extends layout/base

block getTitle
    - var titleVar = "Password reset"

block bodyContent
    - formData = formData || {};
    - var keyError = (errors && errors.keyNotFound) ? true : null;
    - var emailError = (errors && errors.email) ? errors.email[0] : null;
    - var userNotFoundError = (userNotFound) ? "Unable to find user with entered email id": null;
    - var passwordError = (errors && errors.password) ? errors.password[0] : null;
    - var confirmPasswordError = (errors && errors.confirmPassword) ? errors.confirmPassword[0] : null;

    main(class="aligner aligner--vCenter aligner--hCenter wrapper wrapper--page")
        div(class="LoginWrap form-container js-form-container", data-ui-component="user-resetPassword", id="resetPassword")
            //Header Starts Here
            div(class="LoginHead")
                div(class="LoginHead-logo")
                h3(class="form-container-heading", id="resetPassword-heading") Password Reset
            //Header Ends Here

            //Form Starts Here
            form(class="form-horizontal", action="/resetPassword", method="post")
                div(class="LoginForm")
                    if (keyNotFound || keyError)
                        div(class="error-message top") Key not found
                    else if (errors && errors.email)
                        div(class="error-message top") #{emailError}
                    else if (userNotFound)
                        div(class="error-message top") #{userNotFoundError}
                    else if (keyExpired)
                        div(class="error-message top") Key expired. Please&nbsp;
                            a(href="/forgotPassword") regenerate
                            span &nbsp;a new key again
                    else if (passwordReset)
                        div(class="success-message top") Password reset successful. Click&nbsp;
                            a(href="/user/login") here
                            span &nbsp;to login.

                    div(class="form-group")
                        div(class="input-group")
                            span(class="input-group-addon")
                                i(class="fa fa-key")
                            input(type="password", id="resetPassword-password", name="password", class="form-control login-field", placeholder="New Password", required=true)
                        div(class="error-message") #{passwordError}

                    div(class="form-group")
                        div(class="input-group")
                            span(class="input-group-addon")
                                i(class="fa fa-key")
                            input(type="password", id="resetPassword-confirmPassword", name="confirmPassword", class="form-control login-field", placeholder="Confirm Password", required=true)
                        div(class="error-message") #{confirmPasswordError}

                //Footer Section Starts Here
                div(class="LoginFooter row")
                    div(class="pull-right")
                        button(type="submit", id="resetPassword-submit", class="btn btn-lg btn-default btn-lightBg") Reset Password

                if (email)
                    input(type="hidden", name="email", value=email)

                if (key)
                    input(type="hidden", name="key", value=key)
