include ../mixins/mixins

- isOnboarding = !!(isOnboarding || false)
- billingError = Object.keys(currentUser).length && currentUser.userType !== "partner" && (!currentUser.billingInfoComplete || !currentUser.paymentInfoComplete) && !isOnboarding && currentUser.dateCreated > 1522540800000

doctype html
html(lang="en")
    block getTitle

    block meta

    head
        block head
                meta(charset="UTF-8")
                block headCss
                    link(href='//fonts.googleapis.com/css?family=Karla', rel='stylesheet', type='text/css')
                    if environment == "production"
                        link(href="/assets/css/builds/website.min.css?v=1523632039544", rel="stylesheet", type="text/css")
                    else
                        link(href="/assets/css/libs/website.css", rel="stylesheet", type="text/css")

                    //- if billingError && !isSuperUser
                    //-     style.
                    //-         .sidebar,
                    //-         .headerTopBar {
                    //-             top: 80px;
                    //-         }

                    //-         .pageContainer .pageContentWrapper .pageContentInner {
                    //-             padding-top: 160px;
                            }

                link(id="favicon", rel="shortcut icon", href="/assets/images/favicon.ico", sizes="48x48", type="image/png")
                title #{titleVar + " - AdPushup"}

                block headScripts
                    - excludeJquery = excludeJquery || false;
                    - excludeBaseLibs = excludeBaseLibs || false;
                    - excludeAnalytics = excludeAnalytics || false;

                    // Google Tag Manager
                    script.
                        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NMS9P3Q');

                    if !excludeJquery
                        if environment == "production"
                            script(type='text/javascript', src='//code.jquery.com/jquery-1.11.2.min.js')
                        else
                            script(type='text/javascript', src='/assets/js/libs/third-party/jquery-3.1.0.min.js')

                    script(type='text/javascript').
                        window.apjQuery = window.jQuery;
                        window.currentUser = !{JSON.stringify(currentUser)};
                    
                    if !excludeBaseLibs
                        - var baseLibsStr = "/assets/js/builds/";
                        - var baseLibsFinalStr = (environment == "production") ? (baseLibsStr + "base-libs.min.js") : ("/assets/js/libs/custom/base-libs.js");
                        +loadAsset("js", [baseLibsFinalStr])

                    if environment == "production"
                        script(type='text/javascript').
                            ((window.adpushup = window.adpushup || {}).user = (window.adpushup.user || {}));

                        if !excludeAnalytics
                            script(type='text/javascript').
                                var currentUser = !{JSON.stringify(currentUser)};
                                var sites = (Object.keys(currentUser).length > 0) ? currentUser.sites : [];
                                var siteInfo = "", segmentAppId = !{JSON.stringify(consts.analytics["SEGMENT_APP_ID"])};
                                var analytics = {};

                                window.adpushup.user.sites = sites;
                                window.overrideTrackers();

    body

        // User specific jade variables defined to prevent the
        // hassle of defining them at 'app locals' level or send them
        // as parameters to jade files
        - currentUser = currentUser || {};
        - currentUserSites = (currentUser && currentUser.sites) ? currentUser.sites : [];
        - primarySiteDetails = (currentUserSites && currentUserSites.length) ? currentUserSites[0] : {};
        - isRequestDemo = (currentUser && currentUser.requestDemo) ? currentUser.requestDemo : null;
        - isUserOnboarded = (primarySiteDetails && primarySiteDetails.domain && primarySiteDetails.siteId && primarySiteDetails.step) ? true : false;

        //- if billingError && !isSuperUser
        //-     .custom-message.error-text.dashboard-text.billing-error
        //-         if !currentUser.billingInfoComplete || !currentUser.paymentInfoComplete
        //-             i(class="fa fa-warning" style="margin-right: 10px;") 
        //-             | To start seeing ads, please complete - 
        //-         if !currentUser.billingInfoComplete
        //-             | Billing profile 
        //-             a(href="/user/billing") here. 
        //-         if !currentUser.paymentInfoComplete
        //-             | Payment details 
        //-             a(href="/user/payment") here. 
        //-             | If you're using ads.txt, kindly paste the ads.txt configuration from the site's tags manager panel to your website.

        if !excludeAnalytics
            if environment == "production"
                block analyticsIdentify
                    script(type="text/javascript").
                        if (Object.keys(window.currentUser).length > 0 && (sites.length > 0)) {
                            sites.map(function (obj, idx) {
                                siteInfo += obj.siteId + " " + obj.domain + " | ";
                            });
                        }
                script(type="text/javascript" src="/assets/js/libs/custom/adpushup-analytics.js")
                script(type="text/javascript").
                    if (window.currentUser.email) {
                        var data = {
                            email: window.currentUser.email,
                            analytics: {
                                name: (window.currentUser.firstName + ((window.currentUser.lastName && window.currentUser.lastName.length > 0) ? ' ' + window.currentUser.lastName : "")),
                                email: window.currentUser.email,
                                sites: siteInfo
                            }
                        }
                        adpushupAnalyticsEvents.emit('analyticsIdentify', data);
                    }
            else
                script(type="text/javascript" src="/assets/js/libs/custom/adpushup-analytics-mockup.js")

        block bodyContent
            noscript.
                iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NMS9P3Q", height="0", width="0", style="display:none;visibility:hidden")
        div(id="freeow-tr", class="freeow freeow-top-right")
