for site in validSites
    <!--.2.and.mb-30(class="{{ loop.length % loop.last ? 'col-xs-12' : 'col-xs-6' }}")-->
    .mb-30
        .controlAdpushupWrap
            if site.channels.length
                h3.title.m-All-0.clearfix
                    a.pull-left(id="site-report-" + site.siteId, target='_blank', title='Showing last 7 days ControlVsAdPushup reports.', href='/user/site/#{site.siteId}/reports/ControlVsAdpushupCtr').
                        #{utils.domanize(site.domain)} - #{site.siteId}
                    .pull-right.site-actions
                        a.btn.btn-lightBg.btn-default(id="editor-redirect-link", target='_blank', href='/user/site/#{site.siteId}/editor') 
                            i.fa.fa-code
                            |  Take to Editor
                        a.btn.btn-lightBg.btn-default(id="site-custom-reports-" + site.siteId, href='/user/site/#{site.siteId}/reports/adpushupReport')
                                i.fa.fa-area-chart
                                |  AdPushup Report
                        a.btn.btn-lightBg.btn-default(id="pagegroups-link", href='/user/site/#{site.siteId}/pagegroups')  
                            i.fa.fa-th-list
                            |  PageGroups
                        a.btn.btn-lightBg.btn-default(id="settings-link", href='/user/site/#{site.siteId}/settings') 
                            i.fa.fa-cog
                            |  Settings
                        if isSuperUser
                            a.btn.btn-lightBg.btn-default(id="opspanel-link", href='/user/site/#{site.siteId}/opsPanel') 
                                i.fa.fa-wrench 
                                |  Ops Panel
                            form(action='/user/deleteSite', method='post', style='display: inline', onsubmit="return (confirm('Are you sure you want to delete this site? This step cannot be reversed !') && trackDelete(#{site.siteId}))")
                                input(type='hidden', name='siteId', value='#{site.siteId}')
                                input(type='hidden', name='siteDomain', value='#{site.domain}')
                                button.btn.btn-lightBg.btn-default(id="site-delete-btn", type='submit') Delete Site

                - siteDomain = (site.domain) ? site.domain : "";
                .weekly-report.weekly-report-wrapper
                    if site.reportData
                        h1!= JSON.stringify(site.reportData)

                        - lastWeek = site.reportData.lastWeekReport.reportData
                        - thisWeek = site.reportData.thisWeekReport.reportData

                        .row.text-center
                            .col-sm-2.col-sm-offset-1
                                .metric-count
                                    span.lightBlue!= lastWeek.totalImpressions
                                    span  / 
                                    span.darkBlue!= thisWeek.totalImpressions
                                .report-mertic Impressions
                                    if thisWeek.totalImpressions > lastWeek.totalImpressions
                                        i.fa.fa-arrow-up.green
                                    else if thisWeek.totalImpressions < lastWeek.totalImpressions
                                        i.fa.fa-arrow-down.red
                            .col-sm-2
                                .metric-count
                                    span.lightBlue!= lastWeek.totalCpm
                                    span  / 
                                    span.darkBlue!= thisWeek.totalCpm
                                .report-mertic CPM ($)
                                    if thisWeek.totalCpm > lastWeek.totalCpm
                                        i.fa.fa-arrow-up.green
                                    else if thisWeek.totalCpm < lastWeek.totalCpm
                                        i.fa.fa-arrow-down.red
                            .col-sm-2
                                .metric-count
                                    span.lightBlue!= lastWeek.totalPageviews
                                    span  / 
                                    span.darkBlue!= thisWeek.totalPageviews
                                .report-mertic Pageviews
                                    if thisWeek.totalPageviews > lastWeek.totalPageviews
                                        i.fa.fa-arrow-up.green
                                    else if thisWeek.totalPageviews < lastWeek.totalPageviews
                                        i.fa.fa-arrow-down.red
                            .col-sm-2
                                .metric-count
                                    span.lightBlue!= lastWeek.totalPageCpm
                                    span  / 
                                    span.darkBlue!= thisWeek.totalPageCpm
                                .report-mertic Page CPM ($)
                                    if thisWeek.totalPageCpm > lastWeek.totalPageCpm
                                        i.fa.fa-arrow-up.green
                                    else if thisWeek.totalPageCpm < lastWeek.totalPageCpm
                                        i.fa.fa-arrow-down.red
                            .col-sm-2
                                .metric-count
                                    span.lightBlue!= lastWeek.totalRevenue
                                    span  / 
                                    span.darkBlue!= thisWeek.totalRevenue
                                .report-mertic Revenue ($)
                                    if thisWeek.totalRevenue > lastWeek.totalRevenue
                                        i.fa.fa-arrow-up.green
                                    else if thisWeek.totalRevenue < lastWeek.totalRevenue
                                        i.fa.fa-arrow-down.red
                    
                        .report-legend
                            .row.text-center
                                .col-sm-2.col-sm-offset-4
                                    .report-label.bglightBlue 
                                    .report-label-text Last Week
                                .col-sm-2
                                    .report-label.bgdarkBlue 
                                    .report-label-text This Week
                    else
                        | No report data found for this site.
            else
                h3.title.m-All-0.clearfix
                    a.pull-left(id="site-report-" + site.siteId).
                        #{utils.domanize(site.domain)} - #{site.siteId}
                    .pull-right
                        a.btn.btn-lightBg.btn-default(id="site-create-pagegroup-" + site.siteId, href='/user/site/#{site.siteId}/createPagegroup') Create PageGroup
                section
                    .site-status
                        h4
                            i.fa.fa-exclamation-circle 
                            | Setup Incomplete
                        .status-text Page Group not found! Please 
                            a(href="/user/site/#{site.siteId}/createPagegroup") create
                            |  one to access the visual editor.