.row
    for site in validSites
        <!--.2.and.mb-30(class="{{ loop.length % loop.last ? 'col-xs-12' : 'col-xs-6' }}")-->
        - siteId = site.siteId;
        - operationToolsPath = 'http://console.adpushup.com/tools?siteId=' + siteId;

        .col-sm-6
            .mb-30
                .controlAdpushupWrap
                    //- if !site.isManual
                    h3.title.m-All-0.clearfix
                            a.pull-left(id="site-report-" + siteId, target='_blank').
                                #{utils.domanize(site.domain)} - #{siteId}
                            .pull-right.site-actions
                                a.btn.btn-lightBg.btn-default(title="Open editor" id="editor-redirect-link", target='_blank', href='/user/site/#{siteId}/editor') 
                                    i.fa.fa-code
                                a.btn.btn-lightBg.btn-default(title="View site report" target='_blank' id="site-custom-reports-" + siteId, href='/user/site/#{siteId}/reports/adpushupReport')
                                        i.fa.fa-area-chart
                                if site.isManual
                                    a.btn.btn-lightBg.btn-default(id="site-tag-manager-" + siteId, href='/tagmanager/#{siteId}') AP Tag
                                if site.isInnovative
                                    a.btn.btn-lightBg.btn-default(id="site-innovative-ads-manager-" + siteId, href='/innovative-ads-manager/#{siteId}') Innovative Ads
                                .dropdown.btn-dropdown
                                    button.btn.btn-lightBg#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                                        span.caret
                                    |   
                                    ul.dropdown-menu.btn-dd-menu(aria-labelledby='dropdownMenu1')
                                        li
                                            a(title="View site pagegroups" href='/user/site/#{siteId}/pagegroups') 
                                                i.fa.fa-th-list
                                                |  PageGroups 
                                        if isSuperUser
                                            li
                                                a(title="Open AMP Settings" href='/user/site/#{siteId}/ampSettings') 
                                                    i.fa.fa-th-list
                                                    |  AMP Settings  
                                        li
                                            a(title="Open site settings" href='/user/site/#{siteId}/settings') 
                                                i.fa.fa-cog
                                                |  Settings   
                                        if isSuperUser 
                                            li
                                                a(title="Open site info panel" href='/ops/settings/#{siteId}') 
                                                    i.fa.fa-wrench 
                                                    |  Info Panel
                                            li
                                                a 
                                                    form(action='/user/deleteSite', method='post', style='display: inline', onsubmit="return (confirm('Are you sure you want to delete this site? This step cannot be reversed !') && trackDelete(#{siteId}))")
                                                        input(type='hidden', name='siteId', value='#{siteId}')
                                                        input(type='hidden', name='siteDomain', value='#{site.domain}')
                                                        button.btn.btn-lightBg.btn-default(id="site-delete-btn", type='submit') Delete Site

                        - siteDomain = (site.domain) ? site.domain : "";
                        .weekly-report.weekly-report-wrapper
                            if site.reportData
                                - lastWeek = site.reportData.lastWeekReport
                                - thisWeek = site.reportData.thisWeekReport

                                .row.text-center.metrics-wrapper
                                    .col-sm-4
                                        .metric-count
                                            span.lightBlue!= utils.numberFormatter(lastWeek.reportData.totalImpressions)
                                            span  / 
                                            span.darkBlue!= utils.numberFormatter(thisWeek.reportData.totalImpressions)
                                        .report-mertic Impressions 
                                            if Number(thisWeek.reportData.totalImpressions) > Number(lastWeek.reportData.totalImpressions)

                                                div
                                                    | (
                                                    span!=`${(((Number(thisWeek.reportData.totalImpressions) - Number(lastWeek.reportData.totalImpressions)) / Number(lastWeek.reportData.totalImpressions)) * 100).toFixed(2)}%`
                                                    i.fa.fa-arrow-up.green
                                                    | )
                                            else if Number(thisWeek.reportData.totalImpressions) < Number(lastWeek.reportData.totalImpressions)

                                                div 
                                                    | (
                                                    span!=`${(((Number(lastWeek.reportData.totalImpressions) - Number(thisWeek.reportData.totalImpressions)) / Number(thisWeek.reportData.totalImpressions)) * 100).toFixed(2)}%`
                                                    i.fa.fa-arrow-down.red
                                                    | )
                                    .col-sm-4
                                        .metric-count
                                            span.lightBlue!= lastWeek.reportData.totalCpm
                                            span  / 
                                            span.darkBlue!= thisWeek.reportData.totalCpm
                                        .report-mertic CPM ($) 
                                            if Number(thisWeek.reportData.totalCpm) > Number(lastWeek.reportData.totalCpm)

                                                div 
                                                    | (
                                                    span!=`${(((Number(thisWeek.reportData.totalCpm) - Number(lastWeek.reportData.totalCpm)) / Number(lastWeek.reportData.totalCpm)) * 100).toFixed(2)}%`
                                                    i.fa.fa-arrow-up.green
                                                    | )
                                            else if Number(thisWeek.reportData.totalCpm) < Number(lastWeek.reportData.totalCpm)
                                                
                                                div 
                                                    | (
                                                    span!=`${(((Number(lastWeek.reportData.totalCpm) - Number(thisWeek.reportData.totalCpm)) / Number(thisWeek.reportData.totalCpm)) * 100).toFixed(2)}%`
                                                    i.fa.fa-arrow-down.red
                                                    | )
                                    .col-sm-4
                                        .metric-count
                                            span.lightBlue!= utils.numberFormatter(lastWeek.reportData.totalRevenue)
                                            span  / 
                                            span.darkBlue!= utils.numberFormatter(thisWeek.reportData.totalRevenue)
                                        .report-mertic Revenue ($) 
                                            if Number(thisWeek.reportData.totalRevenue) > Number(lastWeek.reportData.totalRevenue)

                                                div 
                                                    | (
                                                    span!=`${(((Number(thisWeek.reportData.totalRevenue) - Number(lastWeek.reportData.totalRevenue)) / Number(lastWeek.reportData.totalRevenue)) * 100).toFixed(2)}%`
                                                    i.fa.fa-arrow-up.green
                                                    | )
                                            else if Number(thisWeek.reportData.totalRevenue) < Number(lastWeek.reportData.totalRevenue)

                                                div 
                                                    | (
                                                    span!=`${(((Number(lastWeek.reportData.totalRevenue) - Number(thisWeek.reportData.totalRevenue)) / Number(thisWeek.reportData.totalRevenue)) * 100).toFixed(2)}%`
                                                    i.fa.fa-arrow-down.red
                                                    | )
                                if isSuperUser
                                    .row.su-metrics.text-center
                                        .col-sm-4
                                            .metric-count
                                                span.lightBlue!= utils.numberFormatter(lastWeek.reportData.totalPageviews)
                                                span  / 
                                                span.darkBlue!= utils.numberFormatter(thisWeek.reportData.totalPageviews)
                                            .report-mertic Pageviews 
                                                if Number(thisWeek.reportData.totalPageviews) > Number(lastWeek.reportData.totalPageviews)

                                                     div 
                                                        | (
                                                        span!=`${(((Number(thisWeek.reportData.totalPageviews) - Number(lastWeek.reportData.totalPageviews)) / Number(lastWeek.reportData.totalPageviews)) * 100).toFixed(2)}%`
                                                        i.fa.fa-arrow-up.green
                                                        | )
                                                else if Number(thisWeek.reportData.totalPageviews) < Number(lastWeek.reportData.totalPageviews)

                                                    div 
                                                        | (
                                                        span!=`${(((Number(lastWeek.reportData.totalPageviews) - Number(thisWeek.reportData.totalPageviews)) / Number(thisWeek.reportData.totalPageviews)) * 100).toFixed(2)}%`
                                                        i.fa.fa-arrow-down.red
                                                        | )
                                        .col-sm-4
                                            .metric-count
                                                span.lightBlue!= lastWeek.reportData.totalPageCpm
                                                span  / 
                                                span.darkBlue!= thisWeek.reportData.totalPageCpm
                                            .report-mertic Page CPM ($) 
                                                if Number(thisWeek.reportData.totalPageCpm) > Number(lastWeek.reportData.totalPageCpm)
                                                        div 
                                                            | (
                                                            span!=`${(((Number(thisWeek.reportData.totalPageCpm) - Number(lastWeek.reportData.totalPageCpm)) / Number(lastWeek.reportData.totalPageCpm)) * 100).toFixed(2)}%`
                                                            i.fa.fa-arrow-up.green
                                                            | )
                                                else if Number(thisWeek.reportData.totalPageCpm) < Number(lastWeek.reportData.totalPageCpm)

                                                    div 
                                                        | (
                                                        span!=`${(((Number(lastWeek.reportData.totalPageCpm) - Number(thisWeek.reportData.totalPageCpm)) / Number(thisWeek.reportData.totalPageCpm)) * 100).toFixed(2)}%`
                                                        i.fa.fa-arrow-down.red
                                                        | )
                            
                                .report-legend
                                    .row.text-center
                                        .col-sm-6.col-sm-offset-3
                                            .report-label.bglightBlue 
                                            .report-label-text 
                                                | Last Week
                                                strong(style="margin: 0 15px;") VS 
                                            .report-label.bgdarkBlue 
                                            .report-label-text This Week
                                                .report-date
                                                    
                            else
                                section
                                    .site-status(style="margin-top: -20px; background-color: #fff;")
                                        h4
                                            i.fa.fa-exclamation-circle 
                                            | No report data found for this site
                    //- else
                        h3.title.m-All-0.clearfix
                            a.pull-left(id="site-report-" + siteId).
                                #{utils.domanize(site.domain)} - #{siteId}
                            .pull-right
                                //- a.btn.btn-lightBg.btn-default.u-margin-r10px(id=("operation-tools-"+ siteId) , href=operationToolsPath, target="_blank") Convert Ad Code
                                //- a.btn.btn-lightBg.btn-default(id="site-create-pagegroup-" + siteId, href='/user/site/#{siteId}/createPagegroup') Create PageGroup
                                a.btn.btn-lightBg.btn-default(id="site-tag-manager-" + siteId, href='/tagmanager/#{siteId}') Tags Manager
                        section
                            .site-status
                                //- h4
                                //-     i.fa.fa-exclamation-circle 
                                //-     | Setup Incomplete
                                .status-text(style="margin: 0;") Tags report snapshot will come here.
                                    //- Page Group not found! Please 
                                    //- a(href="/user/site/#{siteId}/createPagegroup") create
                                    //- |  one to access the visual editor.
                    if isSuperUser  
                        .mode-setting
                            span.label Manual Mode
                            .toggle-switch
                                input(type="checkbox" id="switch-#{siteId}" checked=site.isManual ? true : undefined)
                                label(for="switch-#{siteId}", data-key="isManual" data-id="switch-#{siteId}" data-site-id="#{siteId}")
                            span.label(style="margin-left: 20px") Innovative Ads
                            .toggle-switch
                                input.service-toggle(type="checkbox" id="switch-innovative-#{siteId}" checked=site.isInnovative ? true : undefined)
                                label(for="switch-innovative-#{siteId}" data-key="isInnovative" data-id="switch-#{siteId}" data-site-id="#{siteId}")