div(class="aligner aligner--row perf-panel-heading-wrapper")
    div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
        h4 !{localeData.METRIC_THUMBNAILS.TITLE}
    div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
        //- NOTE: To be added later
        //- h5 Export as

div(class="thumbnail-panel-group perf-panel-wrapper aligner aligner--row js-perf-header")
    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-revenue")
        div(class="panel u-margin-0px u-padding-0px")
            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                div(class="panel-title") !{localeData.METRIC_THUMBNAILS.REVENUE.NAME} (¥)
            button(id="thumbnail-info-btn", data-animation="true", class="btn btn-default btn--transparent btn--icon js-thumbnail-info-btn", type="button", data-placement="top", data-title="#{localeData.METRIC_THUMBNAILS.REVENUE.TOOLTIP_TEXT}")
                i(class="fa fa-info")
            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")

    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-pageViews")
        div(class="panel u-margin-0px u-padding-0px")
            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                div(class="panel-title") !{localeData.METRIC_THUMBNAILS.PAGE_VIEWS.NAME}
            button(id="thumbnail-info-btn", data-animation="true", class="btn btn-default btn--transparent btn--icon js-thumbnail-info-btn", type="button", data-placement="top", data-title="#{localeData.METRIC_THUMBNAILS.PAGE_VIEWS.TOOLTIP_TEXT}")
                i(class="fa fa-info")
            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")

    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-clicks")
        div(class="panel u-margin-0px u-padding-0px")
            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                div(class="panel-title") !{localeData.METRIC_THUMBNAILS.CLICKS.NAME}
            button(id="thumbnail-info-btn", data-animation="true", class="btn btn-default btn--transparent btn--icon js-thumbnail-info-btn", type="button", data-placement="top", data-title="#{localeData.METRIC_THUMBNAILS.CLICKS.TOOLTIP_TEXT}")
                i(class="fa fa-info")
            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")

    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-pageRPM")
        div(class="panel u-margin-0px u-padding-0px")
            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                div(class="panel-title") !{localeData.METRIC_THUMBNAILS.PAGE_RPM.NAME}
            button(id="thumbnail-info-btn", data-animation="true", class="btn btn-default btn--transparent btn--icon js-thumbnail-info-btn", type="button", data-placement="top", data-title="#{localeData.METRIC_THUMBNAILS.PAGE_RPM.TOOLTIP_TEXT}")
                i(class="fa fa-info")
            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")

    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-pageCTR")
        div(class="panel u-margin-0px u-padding-0px")
            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                div(class="panel-title") !{localeData.METRIC_THUMBNAILS.PAGE_CTR.NAME}
            button(id="thumbnail-info-btn", data-animation="true", class="btn btn-default btn--transparent btn--icon js-thumbnail-info-btn", type="button", data-placement="top", data-title="#{localeData.METRIC_THUMBNAILS.PAGE_CTR.TOOLTIP_TEXT}")
                i(class="fa fa-info")
            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")

//- Chart wrapper
div(id="chart-container", class="u-margin-20px js-chart-container", style="background-color: #eee; text-align: center; font-size: 1.5em; height: 340px; border: 1px solid #ddd;")

