nav(class="js-slideout-menu", style="visibility: hidden")
    div(class="u-border-bottom aligner aligner--row u-margin-10px u-padding-b10px")
        h4.heading.heading--h2 !{localeData.SLIDEOUT_MENU.COMPONENTS.SELECTED.NAME}
    div(class="u-margin-10px u-padding-10px filter-selected-wrapper js-filter-selected-wrapper")
        div(class="aligner aligner--column aligner--hCenter aligner--vCenter filter-selected-ui filter-selected-ui--placeholder js-filter-selected-ui-placeholder") !{localeData.SLIDEOUT_MENU.COMPONENTS.SELECTED.UI_PLACEHOLDER_TEXT}

    div(class="u-border-bottom aligner aligner--row u-margin-10px u-padding-b10px")
        h4.heading.heading--h2 !{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.NAME}
    div(class="aligner aligner--row u-margin-10px u-padding-10px")
        div(class="u-full-width panel-group u-margin-0px js-filter-date-wrapper", id="accordion", role="tablist", aria-multiselectable="true")
            div(class="panel panel-default")
                div(class="u-padding-0px panel-heading", role="tab", id="date-relative-panel")
                    h4(class="panel-title u-block")
                        a(role="button", class="u-block u-padding-10px", data-toggle="collapse", data-parent="#accordion", href="#date-relative-collapsible", aria-expanded="true", aria-controls="date-relative-collapsible") !{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.RELATIVE.NAME}
            div(id="date-relative-collapsible", class="panel-collapse collapse in js-panel-collapsible", role="tabpanel", aria-labelledby="date-relative-panel")
                div(class="panel-body")
                    div(class="aligner aligner--row mB-5")
                        div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                            a(data-dateRange="#{JSON.stringify(filterDates.thisWeek)}", data-name="thisWeek", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-thisWeek") !{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.RELATIVE.OPTIONS.WEEK_THIS}
                        div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
                            a(data-dateRange="#{JSON.stringify(filterDates.thisMonth)}", data-name="thisMonth", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-thisMonth") !{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.RELATIVE.OPTIONS.MONTH_THIS}

                    div(class="aligner aligner--row mB-5")
                        div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                            a(data-dateRange="#{JSON.stringify(filterDates.thisYear)}", data-name="thisYear", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-thisYear") !{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.RELATIVE.OPTIONS.YEAR_THIS}
                        div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
                            a(data-dateRange="#{JSON.stringify(filterDates.last7Days)}", data-name="last7Days", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last7Days") !{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.RELATIVE.OPTIONS.LAST_7_DAYS}

                    div(class="aligner aligner--row mB-5")
                        div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                            a(data-dateRange="#{JSON.stringify(filterDates.last30Days)}", data-name="last30Days", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last30Days") !{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.RELATIVE.OPTIONS.LAST_30_DAYS}
                        div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
                            a(data-dateRange="#{JSON.stringify(filterDates.last60Days)}", data-name="last60Days", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last60Days") !{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.RELATIVE.OPTIONS.LAST_60_DAYS}
                    div(class="aligner aligner--row mB-5")
                        div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
                            a(data-dateRange="#{JSON.stringify(filterDates.last90Days)}", data-name="last90Days", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last90Days") !{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.RELATIVE.OPTIONS.LAST_90_DAYS}
                        div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
                            a(data-dateRange="#{JSON.stringify(filterDates.last6Months)}", data-name="last6Months", class="link filter-link js-filter-date", href="javascript:void 0", id="filter-date-last6Months") !{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.RELATIVE.OPTIONS.LAST_6_MONTHS}

            div(class="panel panel-default")
                div(class="u-padding-0px panel-heading", role="tab", id="date-absolute-panel")
                    h4(class="panel-title u-block")
                        a(class="collapsed u-block u-padding-10px", role="button", data-toggle="collapse", data-parent="#accordion", href="#date-absolute-collapsible", aria-expanded="false", aria-controls="date-absolute-collapsible") !{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.ABSOLUTE.NAME}
            div(id="date-absolute-collapsible", class="panel-collapse collapse js-panel-collapsible", role="tabpanel", aria-labelledby="date-absolute-panel")
                div(class="panel-body")
                    div(class="aligner aligner--column mB-5")
                        div(class="col-xs-12 col-md-12 u-padding-0px u-margin-b15px aligner aligner--row aligner--vCenter aligner--hStart")
                            div(class="input-group u-full-width")
                                span(class="input-group-addon", id="label-date-absolute-from") !{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.ABSOLUTE.INPUT_FROM.NAME}
                                input(type="text", data-name="date-from", data-type="absolute", class="form-control js-datepicker-element js-label-date-absolute-from", placeholder="#{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.ABSOLUTE.INPUT_FROM.PLACEHOLDER_TEXT}", aria-describedby="label-date-absolute-from")

                        div(class="col-xs-12 col-md-12 u-padding-0px u-margin-b15px aligner aligner--row aligner--vCenter aligner--hStart")
                            div(class="input-group u-full-width")
                                span(class="input-group-addon", id="label-date-absolute-to") !{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.ABSOLUTE.INPUT_TO.NAME}
                                input(type="text", data-name="date-to", data-type="absolute", class="form-control js-datepicker-element js-label-date-absolute-to", placeholder="#{localeData.SLIDEOUT_MENU.COMPONENTS.FILTERS.DATE.ABSOLUTE.INPUT_TO.PLACEHOLDER_TEXT}", aria-describedby="label-date-absolute-to")

    div(class="aligner aligner--row u-margin-b10px u-padding-10px")
        button(id="filter-apply-btn", data-loading-text="Applying...", autocomplete="off", class="btn btn-default btn-theme btn-theme--primary aligner-item js-filter-apply-btn", type="button") !{localeData.SLIDEOUT_MENU.COMPONENTS.BUTTON_ACTION.APPLY.NAME}
        button(id="filter-reset-btn", data-loading-text="Resetting...", autocomplete="off", class="btn btn-default aligner-item js-filter-reset js-filter-reset-btn", type="button") !{localeData.SLIDEOUT_MENU.COMPONENTS.BUTTON_ACTION.RESET.NAME}
